@import "./colors.css";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text-primary);
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--primary);
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}



.container {
  padding: 40px;
}



button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--secondary);
}



form {
  max-width: 400px;
  margin: auto;
  background: var(--card);
  padding: 30px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}



.mentor-list {
  display: flex;
  gap: 20px;
}

.mentor-card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}
